.card{
    grid-row: 2 / 4;
    position: relative;
    cursor: pointer;
    width: max-content;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    padding: 1rem;
    border: 1px solid rgba(var(--greyscale-level-1), 0.3);
    border-radius: 4px;
    gap: 8px;
    box-shadow: 0px 0px 5px 3px rgba(var(--greyscale-level-1), .2);
    transition: var(--transition);

    &_icon{
        padding: 2px 4px;
        border-bottom: 1px solid rgba(var(--greyscale-level-1), .2);
    }

    &_info{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 4px;

        &_details{
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 4px;

            p{
                flex: 1;
                text-align: center;
                color: rgba(var(--greyscale-level-1), 0.6);
                font-size: clamp(12px, 4vw, 16px);
                font-weight: 600;
            }
        }

        &_earn{
            text-align: center;
            font-size: 14px;
            color: var(--link-parameters-text-color);
        }
    }

    &_level{
        position: absolute;
        top: 6px;
        left: 6px;
        padding: 4px 8px;
        font-size: 12px;
        border-radius: 4px;
        background-color: rgb(var(--success-light));
    }

    &_upgrade{
        padding: 4px 12px;
        border-radius: 4px;
        border: 1px solid rgba(var(--greyscale-level-1), 0.6);
        background-color: rgb(var(--expose-default), 1);
        color: rgba(var(--greyscale-level-1), 0.8);
        display: flex;
        align-items: center;
        gap: 6px;
        transition: var(--transition);

        &_icon{
            color: rgba(var(--green-light), 0.73);
        }

        &:hover{
            background-color: rgb(254, 217, 68);
            // background-color: rgb(255, 236, 34);

            border: 1px solid rgba(var(--greyscale-level-1), 1);    
            
        }
    }

    &:hover{
        border: 1px solid rgba(var(--greyscale-level-1), 0.43);
        box-shadow: 0px 0px 5px 3px rgba(var(--greyscale-level-1), .33);
    }

}