@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One'); 
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --primary-default: 0, 119, 130;
  --primary-medium: 136, 212, 215;
  --primary-extra-light: 237, 249, 249;
  --primary-light: 201, 240, 238;
  --primary-dark: 0, 70, 84;
  --primary-extra-dark: 17, 46, 51;
  --success-default: 40, 134, 90;
  --success-medium: 138, 208, 168;
  --success-extra-light: 237, 249, 240;
  --success-light: 192, 238, 208;
  --success-dark: 23, 80, 56;
  --success-extra-dark: 23, 47, 32;
  --expose-default: 249, 187, 66;
  --expose-medium: 255, 217, 143;
  --expose-extra-light: 255, 246, 232;
  --expose-light: 255, 238, 203;
  --expose-dark: 110, 81, 54;
  --expose-extra-dark: 81, 61, 22;
  --warning-default: 208, 69, 85;
  --warning-medium: 251, 169, 171;
  --warning-extra-light: 255, 246, 244;
  --warning-light: 253, 220, 220;
  --warning-dark: 92, 48, 59;
  --warning-extra-dark: 13, 3, 3;
  --muted-default: 117, 117, 117;
  --amplified-default: 23, 23, 23;
  --greyscale-level-1: 23, 23, 23;
  --greyscale-level-2: 77, 77, 77;
  --greyscale-level-3: 117, 117, 117;
  --greyscale-level-4: 153, 153, 153;
  --greyscale-level-5: 201, 201, 201;
  --greyscale-level-6: 242, 242, 242;
  --greyscale-level-7: 255, 255, 255;
  --primarylightexperimental: 237, 249, 249;

  --link-parameters-text-color: rgba(var(--primary-default),1);

  --gold-button: #FBD77C;
  --storage-background: ;
  --warning-color: 126, 7, 7;
  --success-color: 7, 126, 23;

  --green-light: 224, 253, 96;

  --transition: all 0.25s ease-in-out;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  min-width: 300px;
  max-width: 100vw;
  max-height: 100%;
  overflow-x: hidden;
  background-color: #FFFFFF;
  position: relative;
  line-height: 1.25;
}

input, button{
  border: 0px;
  outline: 0px;
}

button{
  cursor: pointer;
}

select:hover, select:focus{
  border: 0;
  outline: 0;
}

section{
  min-width: 300px;
  max-width: 1280px;
  display: flex;  
  margin: 0 auto;
  padding: 0 40px;
  color: rgba(var(--greyscale-level-3), 1);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}

a {
  color: inherit;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
