.home{
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px 60px;
    gap: 10px;
    flex: 1;

    &_cards{
        position: relative;
        display: grid;
        justify-content: center;
        grid-template-rows: repeat(20, calc((100vh - 190px)/20));
    }

    &_mannequin{
        display: flex;
        flex-direction: column;
    }
}