.mannequin{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
    // border: 1px solid red;

    &_title{
        position: absolute;
        top: 0;

        h1{
            font-family: 'Josefin Sans';
            font-size: 26px;
            font-weight: 700;
        }
    }

    &_icon{
        position: absolute;
        bottom: 5.5rem;

        &_img{
            min-height: 500px;
            height: 100%;
            width: 500px;
        }

        &::before{
            position: absolute;
            content: '';
            top: 170px;
            right: -50px;
            width: clamp(230px, 10vw, 100px);
            height: 1px;
            background-color: rgb(var(--greyscale-level-5));
        }

        &::after{
            position: absolute;
            content: '';
            top: -20px;
            left: -40px;
            width: 230px;
            height: 1px;
            background-color: rgb(var(--greyscale-level-5));
        }
    }

    &_earn{
        margin-top: 20px;
        padding: 0 10px;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        &_timer, &_amount{
            cursor: pointer;
            padding: 5px 0px;
            font-size: 14px;
            min-height: 30px;
            min-width: 110px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 4px;
            // color: rgb(var(--greyscale-level-1), 0.9);
            // background-color:  rgba(var(--primarylightexperimental), 0.1);
            background-color:  rgba(var(--success-dark), 0.8); // rgb(14, 95, 106);
            color: rgb(var(--greyscale-level-7), 0.9);
            box-shadow: 0px 0px 5px 3px rgb(var(--greyscale-level-5), 0.6);
            transition: var(--transition);

            p{
                text-align: center;
                min-width: 50px;
            }

            // &:hover{
            //     color: rgb(var(--greyscale-level-1), 0.8);
            //     background-color:  rgba(var(--primarylightexperimental), 0.1);
            //     box-shadow: 0px 0px 4px 3px rgb(var(--greyscale-level-4), 0.5);
            // }
        }

        &_timer{
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }

        &_amount{
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;  
        }

        &_claim{
            cursor: pointer;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 40px;
            min-width: 160px;
            padding: 10px 30px;
            color: rgb(var(--greyscale-level-7), 1);
            font-weight: 600;
            background-color: rgba(94, 94, 94, 0.549);
            transition: var(--transition);

            &_container{
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;

                &_wait{
                    margin-right: 8px;
                    animation: spin 4s linear infinite;
                    z-index: 4;
                }  
            }

            &_start{
                cursor: pointer;
                z-index: 6;
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: space-around;
                min-height: 40px;
                min-width: 160px;
                background-color: rgba(var(--success-default), 0.85);
                transition: var(--transition);

                &:hover{
                    background-color: rgba(var(--success-dark), 0.9) !important;
                    color: rgb(var(--greyscale-level-7), 0.9) !important;
                }
            }

            span{
                z-index: 4;
                min-width: 50px;
            }

            &_progress{
                position: absolute;
                left: 0;
                content: '';
                height: 100%;
                background-color: rgb(17, 125, 30);
                z-index: 1;
                transition: width 1s linear, background-color 0.25s ease-in-out;
            }

            &:hover{                
                background-color: rgba(125, 19, 17, 0.375);
                color: rgb(var(--greyscale-level-5));
            }
        }

        &_line{
            width: 30px;
            height: 1px;
            border: 1px dashed rgb(var(--greyscale-level-5));
        }
    }

    &_effects{
        position: absolute;
        width: 100%;
        height: 100%;
        user-select: none;

        &_spark{
            z-index: 10;
            position: absolute;
            bottom: 10%;
            left: 10%;
            width: 80%;
            height: 80%;
            transition: var(--transition);
        }

        &_cap, &_tshirt, &_trousers, &_sneakers{
            transform: translate(50%, -50%);
            position: absolute;
            transition: all 0.75s ease-in-out;
        }
    
        &_cap{
            top: 13%;
            right: 52%;
        }
    
        &_tshirt{
            top: 33%;
            right: 50%;
        }
    
        &_trousers{
            top: 61%;
            right: 50%;
        }
    
        &_sneakers{
            top: 83%;
            right: 51%;
        }
    }

    
    &::before{
        position: absolute;
        content: '';
        bottom: 80px;
        right: -50px;
        width: 200px;
        height: 1px;
        background-color: rgb(var(--greyscale-level-5));
    }

    &::after{
        position: absolute;
        content: '';
        bottom: 270px;
        left: -40px;
        width: 190px;
        height: 1px;
        background-color: rgb(var(--greyscale-level-5));
    }
}

.move_left{
    opacity: 0;
    right: 100% !important;
    width: 50px;
    height: 50px;
}

.move_right{
    opacity: 0;
    right: 0% !important;
    width: 50px;
    height: 50px;
}

@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

@keyframes jump {
    0% {
        transform: translateY(0);
      }
      30% {
        transform: translateY(-2.5px); 
      }
      50% {
        transform: translateY(0);
      }
      70% {
        transform: translateY(-2.5px); 
      }
      100% {
        transform: translateY(0);
      }
}

@keyframes spark {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-1000px);
    }
  }