.card{
    width: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;

    &_container{
        user-select: none;
        position: relative;
        width: 430px;
        height: 280px;
    
        &_front{
            position: absolute;
            left: 0;
            top: 0;
            z-index: 2;
            width: 380px;
            height: 230px;
            padding: 12px 20px 12px 30px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            border: 1px solid #263181;
            border-radius: 8px;
            background: linear-gradient(to top right, #0F64D9, #0A86C6);
            color: #EFF4FA;

            &_headline{
                font-size: 18px;
                font-weight: 600;
                width: 100%;
                text-align: end;
                font-family: 'Josefin Sans';
            }

            &_icon{
                display: flex;
                align-items: flex-end;
                height: 35%;
                width: 100%;
            }

            &_amount{
                font-family: 'Black Ops One';
                width: 100%;
                display: flex;
                align-items: center;
                gap: 16px;

                span{
                    text-wrap: nowrap;
                    font-size: 20px;
                }
            }

            &_type{
                font-size: 14px;
                font-weight: 400;
                color: #eff4fac4;
                flex: 1;
                display: flex;
                align-items: end;
            }
        }
    
        &_back{
            z-index: 1;
            position: absolute;
            bottom: 0;
            right: 0;
            width: 380px;
            height: 230px;
            padding: 8px;
            gap: 10px;
            display: flex;
            align-items: end;
            border: 1px solid #3B4CCA;
            border-radius: 8px;
            background: linear-gradient(to top right, #0a87c6c1, #0f63d9c4);
            color: #EFF4FA;

            &_box{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                button{
                    color: rgba(0, 0, 0, 0.72);
                    border-radius: 6px;
                    padding: 8px 32px;
                    transition: var(--transition);

                    &:disabled{
                        color: rgba(0, 0, 0, 0.555);
                    }
                }
    
                &_count{
                    font-family: 'Josefin Sans';
                    font-size: 12px;
                    padding-top: 2px;
                    line-height: 1;
                    position: absolute;
                    bottom: 5px;
                    right: 5px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    background-color: rgba(240, 248, 255, 0.299);
                }
            }
        }
    
    }

    &_arrow{
        cursor: pointer;
        width: 50px;
        height: 50px;
        border: 1px solid #3b7ad3ba;
        background-color: #64a3fc;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: var(--transition);

        &:hover{
            border: 1px solid #3b7ad342;
            background-color: #64a3fca9;
        }
    }
}

.hidden{
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    transition: var(--transition);
}

.possible{
    border: 1px solid rgba(122, 219, 174, 0.85) !important;
    background-color: rgba(156, 255, 209, 0.872) !important;

    &:hover{
        border: 1px solid rgba(87, 218, 157, 0.85) !important;
        background-color: rgba(79, 229, 159, 0.872) !important;
    }
}

.impossible{
    border: 1px solid rgb(234, 89, 106) !important;
    background-color: rgb(255, 137, 151) !important;

    &:hover{
        border: 1px solid rgb(236, 62, 82) !important;
        background-color: rgb(247, 95, 113) !important;
    }
}